@using BasicInsurance.Models.Models;
@model Annuity

<form method="post">
    <input asp-for="Id" hidden/>
    <div class="border p-3 et-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Contract</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3" row p-1>
            <label asp-for="ContractName"></label>
            <input asp-for="ContractName" class="form-control" />
            <span asp-validation-for="ContractName" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="PrincipalAmount"></label>
            <input asp-for="PrincipalAmount" class="form-control" />
            <span asp-validation-for="PrincipalAmount" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="IntrestRate"></label>
            <input asp-for="IntrestRate" class="form-control" />
            <span asp-validation-for="IntrestRate" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="NumberofPayments"></label>
            <input asp-for="NumberofPayments" class="form-control"></input>
            <span asp-validation-for="NumberofPayments" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="PaymentFrequency"></label>
            <input asp-for="PaymentFrequency" class="form-control"></input>
            <span asp-validation-for="PaymentFrequency" class="text-bg-danger"></span>
        </div>
        <div class="row">
            <div class="col-6" col-md-3>
                <button type="submit" class="btn btn-primary form-control">Edit Contract</button>
            </div>
            <div class="col-6" col-md-3>
                <a asp-controller="Annuity" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
            </div>
        </div>

    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}